:root {
  --primary-font: "inter", sans-serif;
  --secondary-font: "Playfair Display SC", serif;
  --primary-color: #e8b7cc;
  --secondary-color: #8e7b75;
}

body {
  background: white;
  font-family: var(--primary-font);
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.hero {
  font-family: var(--primary-font);
  font-weight: 100;
  color: #e8b7cc;
  background: #8e7b75;
}

nav li {
  display: inline;
  list-style: none;
  padding: 80px 20px;
  margin-left: 15px;
  line-height: 42px;
}

.logo {
  max-width: 100px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url(/images/background.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 200px 0;
  color: #e8b7cc;
  text-align: center;
  animation: headerMove 25s ease-in-out infinite;

  position: relative;
  overflow: hidden;
}

@keyframes headerMove {
  0% {
    background-position: center;
    background-size: cover;
  }
  50% {
    background-position: center top;
    background-size: 120%;
  }
  100% {
    background-position: center;
    background-size: cover;
  }
}

header h1 {
  font-size: 106px;
  font-family: var(--secondary-font);
  font-weight: 300;
}

header h2 {
  font-size: 35px;
  font-weight: 100;
  font-family: var(--primary-font);
}

.btn {
  display: block;
  color: var(--primary-color);
  border: 1px solid #e8b7cc;
  background: #8e7b75;
  margin: 0 auto;
  padding: 15px 30px;
  text-align: center;
  font-size: 15px;
  border-radius: 8px;
  line-height: 1.5;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: var(--primary-color);
  text-decoration: none;
  background: var(--secondary-color);
  text-align: center;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.card a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: var(--secondary-color);
  text-decoration: none;
  background: var(--primary-color);
  text-align: center;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.best-seller {
  background: black;
  color: white;
  padding: 100px;
  margin: 0 auto;
  max-width: 100%;
  display: flex;
}

.grid-img {
  width: 100%;
  max-width: 700px;
  margin-right: -22px;
}

.grid-img img {
  grid-column: 1/2;
  grid-row: 1/3;
}

.best-seller h1 {
  font-family: var(--secondary-font);
  font-size: 99px;
  font-weight: lighter;
  margin-left: 5px;
  line-height: 1.5;
  align-items: center;
}

.best-seller p {
  font-family: var(--primary-font);
  font-size: 36px;
  font-weight: 100;
  text-align: center;
  margin-bottom: 10px;
  line-height: 1.5;
  opacity: 0.85;
}

.card {
  text-align: center;
  padding: 30px 0;
  border-radius: 10px;
  background: #8e7b75;
  color: var(--primary-color);
}

.grid {
  display: grid;
  grid-gap: 40px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

section .salon {
  margin: 90px;
  text-align: center;
}

.hero-2 {
  color: var(--primary-color);
  background: black;
}

.hero-2 h1 {
  font-family: var(--secondary-font);
  font-size: 44px;
  font-weight: light;
  line-height: 1.5;
}

.hero-2 h2 {
  font-family: var(--primary-font);
  font-size: 44px;
  font-weight: light;
  line-height: 1.5;
}

.grid-image {
  width: 100%;
  max-width: 500px;
}

@media (max-width: 900px) {
  header {
    padding: 60px 0;
    animation: none;
  }

  header img {
    width: 100%;
  }
}
